

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    font-family: "Libertinus Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    background: #202731;
    overflow-x: hidden;

}





/*h1 {*/
/*    text-align: center;*/
/*}*/

.navbar ul {
    list-style-type: none;
    /*background-color: #464343;*/
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
    text-align: center;
}

.navbar ul li {
    display: inline-block;
}


.navbar a {
    color: white;
    text-decoration: none;
    padding: 30px;
    display: block;
    text-align: center;
    transition: background-color 0.5s;

}

.navbar a:hover {
    background-color: #333131;
    border-radius: 5px;

}



h1 {
    font-size: 2.5rem;
    margin: 0;
}

section {
    margin: 0 auto;
    padding: 50px 15px;
}

img {
    max-width: 20%;
    max-height: 20%;
    margin-right: 40px;
    /*margin-left: 55rem;*/
}

.content {
    display: flex;
    justify-content: space-between;
}

.text {
    width: 20%;
}






/*img {*/
/*    max-width: 20%;*/
/*    max-height: 20%;*/
/*    float: right;*/
/*}*/



/*.header img {*/
/*    float: right;*/
/*    max-width: 20%;*/
/*    max-height: 20%;*/
/*    margin-left: 15px;*/
/*}*/


/*.navbar li {*/
/*    float: left;*/
/*}*/