body {
    margin: 0;
    font-family: "Libertinus Mono", monospace;
    color: white;
    background: #202731;
    overflow-x: hidden;

}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.blue {
    background: #2727c7;
}

.red {
    background: #d12424;
}

.pink {
    background: #e73757;
}

.dark {
    background: #0f0f35;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #202731;
    transform: translate(85%, 60%);

}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #2727c7;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #0f0f35;
    z-index: -1;
}


/*h1 {*/
/*    text-align: center;*/
/*}*/

.navbar ul {
    list-style-type: none;
    /*background-color: #464343;*/
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
    text-align: center;
}

.navbar ul li {
    display: inline-block;
}


.navbar a {
    color: white;
    text-decoration: none;
    padding: 30px;
    display: block;
    text-align: center;

}

.navbar a:hover {
    background-color: #333131;
}



/*.navbar li {*/
/*    float: left;*/
/*}*/